:root{
	--apple_black: rgb(29, 29, 31);
	--apple_white: #ddd;
	--apple_grey: #888;
	--yellow: #e9dd2b;
	--black: #000;
	--white: #fff;
}
html{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--white);
	letter-spacing: -0.05em;
	overscroll-behavior: none;
	overflow: hidden;
	height: 100%;
}
body * { touch-action: none; }

/*메뉴바 관련*/
a{
	color: var(--apple_black);
	text-decoration: none;
}
.local-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 52px;
	padding: 0 1rem; /*border-box가 있어야 오른쪽 패딩 적용됨*/
	border-bottom: 1px solid var(--apple_black);
	background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: saturate(180%) blur(15px); 
	backdrop-filter: saturate(180%) blur(15px); 
}
.local-nav-links{
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.local-nav-links .product-name{
	margin-right: auto;
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--apple_black);
}
.local-nav-links a{
	font-size: 0.8rem;
	color: var(--apple_black);
}
.local-nav-links a:not(.product-name){
	margin-left: 2em;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}
canvas {
	display: block;
}
a, button, input, select {
	pointer-events: auto;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}
.sidenav::-webkit-scrollbar{
	display: none;
}
.ar-object{
	height: 200px;
	width: 200px;
	margin-top: 20px;
	border-radius: 10px;
}
.ar-object:last-child{
	margin-bottom: 20px;
}
#AR{
	margin: 200px auto;
	height: max-content;
	width: max-content;
	display: grid; /*교체 grid-none*/
	grid-template-columns: 50% 50%;
	grid-gap: 1rem;
	align-items: center;
	justify-content: center;
}
#main{
	height: 100vh;
	display: none; /*교체 none-flex*/
	flex-direction: column;
}
.arButton{
	color: var(--white);
	font-size: 0;
	/*
	font-size: 1.4rem;
	*/
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	border: 0.5rem solid var(--apple_white);
}
/*hover*/
.arButton:hover{
	opacity: 0.7;
}
.arButton.london{
	background: url("../image/web_xr_image/3.jpg") no-repeat center center;
	background-size: contain;
}
.arButton.paris{
	background: url("../image/web_xr_image/4.jpg") no-repeat center center;
	background-size: contain;
}
.arButton.italy{
	background: url("../image/web_xr_image/2.jpg") no-repeat center center;
	background-size: contain;
}
.arButton.praha{
	background: url("../image/web_xr_image/1.jpg") no-repeat center center;
	background-size: contain;
}

#topSection{
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
}
#bottomSection{
	background: url("../image/web_xr_image/background_paris.jpg") no-repeat center center;
	background-size: cover;
	height: 150px;
	display: flex;
	flex-direction: row;
	transition: 0.5s;
}
.delete-icons{
	display: flex;
	justify-content: center;
}
#delete{
	position: absolute;
	bottom: 10px;
	width: 0px;
	transition: 0.3s;
}
.icon-buttons{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	transition: 0.5s;
	padding: 0 20px;
}
.iconSelect{
	width: 35px;
}
.buttons{
	display: flex;
	align-items: center;
	width: 100%;
	overflow-x: auto;
	padding-right: 20px;
}
.buttons::-webkit-scrollbar{
	display: none;
}
.modelSelect{
	display: none;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 110px;
	height: 110px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-left: 20px;
	border-radius: 10px;
}
.modelSelect img{
	width: 100px;
	height: 100px;
}
.dot{
	width: 200px;
	height: 200px;
	position: absolute;
	transform: translate(-50%, -50%);
	background-size: contain;
}